<p style="text-align:center"><strong>VEHICLES DETAIL LIST</strong></p><br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
        
    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Vehicle ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="cname">
      <th mat-header-cell *matHeaderCellDef> Customer Name </th>
      <td mat-cell *matCellDef="let element"> {{element.cname}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="vname">
      <th mat-header-cell *matHeaderCellDef> Vehicle Name </th>
      <td mat-cell *matCellDef="let element"> {{element.vname}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="vmodel">
      <th mat-header-cell *matHeaderCellDef> Vehicle Model </th>
      <td mat-cell *matCellDef="let element"> {{element.vmodel}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="vvin">
        <th mat-header-cell *matHeaderCellDef> Vehicle VIN </th>
        <td mat-cell *matCellDef="let element"> {{element.vvin}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  