<p style="text-align:center"><strong>CUSTOMER DETAILS ENTRY</strong></p>
  <p>
    <mat-form-field class="inputs" appearance="legacy">
      <mat-label>Customer First Name</mat-label>
      <input matInput placeholder="Enter Customer First Name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field class="inputs" appearance="legacy">
        <mat-label>Customer Last Name</mat-label>
        <input matInput placeholder="Enter Customer Last Name">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint></mat-hint>
      </mat-form-field>
  </p>
  <p>
    <mat-form-field class="inputs" appearance="legacy">
      <mat-label>Customer Email</mat-label>
      <input matInput placeholder="Enter Customer Email">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="inputs" appearance="legacy">
      <mat-label>Customer Phone Number</mat-label>
      <input matInput placeholder="Enter Customer Phone Number">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="inputs" appearance="legacy">
      <mat-label>Customer Address</mat-label>
      <textarea  matInput rows=4></textarea>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <a routerLink="../customerslist"><button class="btn" style="margin-left: 25%;" mat-raised-button>Save</button></a>